<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" th:with="version = '1.2.2', lang='zh_CN'">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title} + ' ｜ 我的书架'"></title>
    <link rel="stylesheet" th:href="@{/plugins/plugin-weread/assets/static/css/weread.css}"/>
</head>
<body>
<header></header>
<main class="container">
    <!-- 书架片段 -->
    <div th:replace="~{plugin:plugin-weread:fragments/bookshelf :: bookshelf(books = ${books}, currentPage = ${currentPage}, totalPages = ${totalPages}, pageSize = ${pageSize}, totalItems = ${totalItems})}"></div>
</main>
</body>
</html>